@import "tailwindcss";
@import "@nuxt/ui";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";

@theme {
  --font-sans: "Geist Variable", "Geist", sans-serif;
  --font-mono: "Geist Mono Variable", "Geist Mono", monospace;
}

:root {
  --ui-radius: 0.1875rem;
}

:root,
.light {
  --ui-bg-muted: var(--ui-color-neutral-100);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  --ui-bg-accented: var(--ui-color-neutral-200);
  --ui-text: var(--ui-color-neutral-900);
  --ui-text-highlighted: var(--ui-color-neutral-950);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
  --ui-text: var(--ui-color-neutral-100);
  --ui-text-highlighted: var(--ui-color-neutral-50);
}
